
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

header {
    display:flex;
    position: absolute;
    justify-content: space-around;
    margin-bottom:75%;  
}

h1 {
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    padding: 20px 20px;
    text-shadow: 10px;
    text-decoration-color: hsl(var(--hue), 100%, 50%);
    color: hsl(var(--hue), 100%, 50%);
}

#header-blurb {
    display:flex;
    position: absolute;
    justify-content: space-around;
    margin-bottom:50%;   
}

h2 {
    font-size: large;
    padding: 10px 10px;
    color: hsl(var(--hue), 100%, 50%);
}


/*I'm using vw instead of % or px to ensure my quiz is dead-center in the browser */
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content:center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}



.container {
    width: 800px;
    height:100%;
    max-width: 200%;
    max-height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}



.quiz-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quiz-header #count-down {
    color:hsl(var(--hue), 100%, 20%);
    width: 1.5em;
    height: 1.5em;
    justify-content: space-evenly;
    border-radius: 1.8em;
    display: flex;
    font-size: larger;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  justify-content: space-evenly;
  display: inline-block;
  padding-bottom: 1%;
}


#question {
    font-size:x-large;
    padding: 10px 10px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px 0;
    padding:10px;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: larger;
}

.btn:hover {
    border-color: black;
    cursor: pointer;
    color: hsl(var(--hue), 100%, 50%);
    background-color: #e1f5fe;
}

.btn-correct {
    --hue: var(--hue-correct);
    color:black;
}

.btn-wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

#result-container {
    width: 800px;
    height:100%;
    max-width: 200%;
    max-height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

p {
    color: var(--hue-neutral);
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

footer {
    display:flex;
    position: absolute;
    margin-top:10%; 
    margin-left: 4%;  
    justify-content: center;
    align-items: center;
}